<form [formGroup]="myForm" (ngSubmit)="onSubmit()"> <!-- Reactive form -->
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="myForm.controls.myEmail" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="myPassword" />
    </div>

    <button class="button">Login</button>
  </div>

  @if(myForm.controls.myEmail.invalid && myForm.controls.myEmail.touched && myForm.controls.myEmail.dirty) {
    <p class="control-error">Please enter a valid email address.</p>
  }
  @if(getPasswordIsInvalid()) {
    <p class="control-error">Please enter a valid password (at least 6 characters and containing a question mark).</p>
  }
</form>
